In [91]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, classification_report

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [92]:
data = pd.read_csv("/content/spam.csv",encoding="latin-1")
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [93]:
data = data.loc[:,~data.columns.str.contains("^Unnamed")]    #dropping colums      ~drop
df=data
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [94]:
df.columns=["label","text"]     #assaining names [0,1]
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [95]:
df.shape

(5572, 2)

In [96]:
df["label"].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64

In [97]:
encoder = LabelEncoder()
                                                 #df["label"]=df["label"].map({"ham":1,"spam":0})

df["label"]=encoder.fit_transform(df["label"])     #same like mapping we can also use mapping

/tmp/ipython-input-2834474889.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["label"]=encoder.fit_transform(df["label"])     #same like mapping we can also use mapping

In [98]:
df["label"].value_counts()

label
0    4825
1     747
Name: count, dtype: int64

In [99]:
X=df["text"]
y=df["label"]

In [100]:
vec = TfidfVectorizer(max_features=5000)    #according to shape we have to give

X = vec.fit_transform(X).toarray()

**TRAIN TEST SPLIT**

In [101]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

**MODEL**

In [102]:
model = Sequential()

model.add(Dense(128,activation='relu',input_shape=(5000,)))    # 1ST HIDDEN LAYER WITH 128 NODES  - LEARNS BASIC PATTERN
model.add(Dense(64,activation='relu'))                         # 2ND HIDDEN LAYER WITH 64  - LEARNS MEANINGFUL PATTERN
model.add(Dense(1,activation='sigmoid'))                       # OUTPUT LAYER - BINARY OUTPUT [ 0 | 1 ]

/usr/local/lib/python3.12/dist-packages/keras/src/layers/core/dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [103]:
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',    # 1 | 0 to calculate how much loss we get .
    metrics=['accuracy']
)


model.fit(X_train,y_train,epochs=10,batch_size=32,validation_data=(X_test,y_test)) # epochs=iteration

Epoch 1/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 0.8561 - loss: 0.4157 - val_accuracy: 0.9794 - val_loss: 0.0788
Epoch 2/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.9910 - loss: 0.0379 - val_accuracy: 0.9767 - val_loss: 0.0683
Epoch 3/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.9985 - loss: 0.0063 - val_accuracy: 0.9758 - val_loss: 0.0776
Epoch 4/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.9996 - loss: 0.0024 - val_accuracy: 0.9776 - val_loss: 0.0895
Epoch 5/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 1.0000 - loss: 6.8019e-04 - val_accuracy: 0.9776 - val_loss: 0.0966
Epoch 6/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 1.0000 - loss: 5.0310e-04 - val_accuracy: 0.9776 - val_loss: 0.1000
Epoch 7/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - accuracy: 1.0000 - loss: 2.7767e-04 - val_accuracy: 0.9767 - val_loss: 0.1012
Epoch 8/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 1.0000 - loss: 2.2221e-04 - val_accuracy: 0.9767 - val_loss: 0.1050
Epoch 9/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 1.0000 - loss: 1.5355e-04 - val_accuracy: 0.9767 - val_loss: 0.1070
Epoch 10/10
140/140 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 1.0000 - loss: 1.2881e-04 - val_accuracy: 0.9767 - val_loss: 0.1100

In [104]:
y_pred = model.predict(X_test)

35/35 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step

In [105]:
y_pred

array([[2.5286447e-04],
       [3.1442937e-06],
       [9.9420172e-01],
       ...,
       [5.0734900e-07],
       [3.3587200e-04],
       [9.9840552e-01]], dtype=float32)

In [106]:
y_pred = (y_pred > 0.5).astype(int)

In [107]:
y_pred

array([[0],
       [0],
       [1],
       ...,
       [0],
       [0],
       [1]])

**EVALUATION**

In [108]:
print("ACC = ",accuracy_score(y_test,y_pred))

ACC =  0.9766816143497757

**TESTING**

In [109]:
while True:
  sample = []
  sample = str(input("ENTER YOUR MAIL : "))
  if sample.lower() == 'end':
    break
  sam_vec = vec.transform([sample]).toarray()
  res = model.predict(sam_vec)


  if res < 0.5 :
    print("\n\nGOOD EMAIL\n\n")
  else:
    print("\n\nSPAM EMAIL\n\n")

ENTER YOUR MAIL : Go until jurong point, crazy.. Available only ...
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 34ms/step


GOOD EMAIL


ENTER YOUR MAIL : Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat... 1/1
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 35ms/step


GOOD EMAIL


ENTER YOUR MAIL : Rodger Burns - MSG = We tried to call you re your reply to our sms for a free nokia mobile + free camcorder. Please call now 08000930705 for delivery tomorrow
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 32ms/step


SPAM EMAIL


ENTER YOUR MAIL : END